header {
    border: 1px solid #000;
    height: 10vh;
    min-height: 70px;
}
.wrapperDiv{
    margin: 2% 5%;
    height: 75vh;
}
.clickToAction{
    height: 5%;
}
.clickToAction div{
    display: inline-block;
}
.otherCTA{
    width: 60%;
}
.filterCTA{
    width: 20%;
}
.defaultBidCTA{
    width: 20%;
    text-align: right;
}
.customerList{
    height: 70%;
    overflow: auto;
}
.customerDiv div{
    display: inline-block;
    text-align: center;
}
.customerAvtar{
    width: 20%;
}
.customerDetail{
    width: 60%;
}
.customerBid{
    width: 20%;
}
.customerAvtar img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
} 
@media only screen and (max-width: 600px) {
    .customerAvtar img {
        width: 50px;
        height: 50px;
    }
  }
.customerDiv{
    padding: 2%;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 1.5%;
    transition: 0.5s;
    background-color: #f4f1eab0;
}

.pagination{
    text-align: center;
    height: 10%;
    margin-top: 3%;
}
.pagination button{
    padding: 1%;
    margin-right: 1%;
}
.customerBid div{
    margin-bottom: 5%;
}
a{
    color: black;
}
a:visited{
    color: black;
    text-decoration: none;
}
footer{
    height: 15vh;
    background-color: grey;
    position: fixed;
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
}
.customerBidList{
    width: 33.33%;
    text-align: center;
}

.customerDiv:hover{
    background-color: aliceblue;
    transition: 0.5s;
}
label{
    font-weight: 500;
}
.defaultBidCTA button{
    padding: 2%;
}

.filterCTA .sortDropdown{
    padding: 2%;
}