.header {
    border: 1px solid #000;
    height: 10vh;
    min-height: 70px;
}
.wrapperDiv{
    margin: 2% 5%;
    height: 90vh;
}
.clickToAction{
    height: 10%;
}
.clickToAction div{
    display: inline-block;
}
.otherCTA{
    width: 60%;
}
.filterCTA{
    width: 20%;
}
.defaultBidCTA{
    width: 20%;
    text-align: right;
}
.customerList{
    height: 80%;
    overflow: auto;
}
.customerDiv div{
    display: inline-block;
}
.customerAvtar{
    width: 20%;
}
.customerDetail{
    width: 60%;
}
.customerBid{
    width: 20%;
}
.customerAvtar img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
} 
@media only screen and (max-width: 600px) {
    .customerAvtar img {
        width: 50px;
        height: 50px;
    }
  }
.customerList .customerDiv{
    padding: 2%;
    border: 1px solid grey;
    border-radius: 5px;
}